@use '../../../styles' as theme;

.pageContent {
    position: relative;
    padding-top: calc(var(--banner-height, 0px) + var(--toolbar-height, 72px) + 24px);
    height: 100vh;
    @include theme.flex-column;
    width: 100%;
    overflow: auto;
    box-sizing: border-box;
}

.loading {
    @include theme.flex-center;
    padding: 3rem;
    color: theme.$text-secondary;
    font-size: 16px;
}

.boardWorkspaceArea {
    flex: 1;
    height: 0;
    overflow: hidden;
    width: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}