.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;
    box-sizing: border-box;
}

.mainContent {
    flex: 1;
    display: flex;
    justify-content: center;
    overflow-y: auto;
    padding: 2rem;
    box-sizing: border-box;
}
