/* File: frontend/src/components/chat/ChatWindow.module.css */

.container {
    height: 100%;
    display: flex;
    flex-direction: column;
    border: 1px solid #444;
    border-radius: 8px;
    overflow: hidden;
}

.messageList {
    flex: 1;
    padding: 1rem;
    overflow-y: auto;
    background-color: #282828;
}

.form {
    display: flex;
    padding: 1rem;
    border-top: 1px solid #444;
    background-color: #2f2f2f;
    gap: 10px;
}