@use '@/styles' as theme;

.landingPage {
  min-height: 100vh;
  background-color: var(--color-background);
  color: var(--color-text-primary);
}

.main {
  @include theme.flex-column;
  max-width: calc(80rem - 4rem);
  margin-inline: auto;
}

.loading {
  @include theme.flex-center;
  min-height: 100vh;
  background-color: var(--color-background);
}

.spinner {
  @include theme.spinner-base;
  width: 40px;
  height: 40px;
}
