.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    box-sizing: border-box;
}

.mainContent {
    flex: 1;
    display: flex;
    justify-content: center;
    overflow-y: auto;
    box-sizing: border-box;
}

.mainContent:has([data-board-page]) {
    overflow: hidden;
}

.mainContent>*:not([data-board-page]):not([data-has-toolbar]) {
    padding: 2rem;
    width: 100%;
}

.mainContent>[data-has-toolbar] {
    width: 100%;
    padding: 0;
}