.mainContent {
    height: 100%;
    width: 100%;
    margin: 0; /* Explicit margin reset */
    padding: 0 1rem;
    box-sizing: border-box;
    display: flex; /* Ensure proper flex behavior */
    flex-direction: column;
}
