/* File: frontend/src/components/board/Canvas.module.css */
.container {
    position: relative;
    width: 100%;
    height: 100%;
}

.mainCanvas {
    position: absolute;
    top: 0;
    left: 0;
}

.previewCanvas {
    position: absolute;
    top: 0;
    left: 0;
    cursor: crosshair;
}
