.container {
    position: relative;
    width: 100%;
    height: 100%;
}

.mainCanvas {
    position: absolute;
    top: 0;
    left: 0;
}

.previewCanvas {
    position: absolute;
    top: 0;
    left: 0;
    cursor: crosshair;
}

.previewCanvasDisabled {
    cursor: not-allowed;
    pointer-events: none;
    /* Red tint overlay when disconnected */
    background-color: rgba(255, 0, 0, 0.05);
}
