@use '@/styles' as theme;

.container {
  position: relative;
  box-sizing: border-box;
  max-width: 80rem;
  width: 100%;
  margin: 0 auto;
  padding: 0;
}

.withBorders {
  border-inline: 1px solid var(--color-border);
}
