@use '@/styles' as theme;

.container {
  position: relative;
  box-sizing: border-box;
  max-width: 80rem;
  width: calc(100% - 2rem); // Ensure borders are visible on mobile by checking in slightly
  margin: 0 auto;
  padding: 0;
}

.withBorders {
  border-inline: 1px solid var(--color-border);
}
