@use '../../../../styles' as theme;

.input {
    @include theme.input-base;
    @include theme.input-focus;
    margin-top: 4px;
    padding: 10px;
}

.input[type="date"] {
    text-align: center;
    direction: ltr;
    unicode-bidi: embed;
    position: relative;
}

.input[type="date"]::-webkit-calendar-picker-indicator {
    position: absolute;
    inset-inline-end: 10px;
    cursor: pointer;
    opacity: 0.7;
    @include theme.smooth-transition;
}

.input[type="date"]::-webkit-calendar-picker-indicator:hover {
    opacity: 1;
}

.input[type="date"]::-moz-calendar-picker-indicator {
    position: absolute;
    inset-inline-end: 10px;
    cursor: pointer;
}