@use '@/styles' as theme;

.passwordContainer {
  position: relative;
  @include theme.flex-start;
  width: 100%;
}

.passwordInput {
  @include theme.input-base;
  padding-block: 10px;
  padding-inline-start: 10px;
  padding-inline-end: 40px;
  margin-top: 4px;
  @include theme.input-focus;

  &:disabled {
    background-color: theme.$surface;
    color: theme.$text-disabled;
    cursor: not-allowed;
    opacity: 0.6;
  }
}

.toggleButton {
  position: absolute;
  inset-inline-end: 8px;
  top: 50%;
  transform: translateY(-50%);
  @include theme.interactive-button;
  padding: 6px;
  @include theme.rounded-small;
  @include theme.flex-center;
  min-width: 24px;
  min-height: 24px;
  @include theme.smooth-transition;
  color: theme.$text-muted;

  &:hover:not(:disabled) {
    background-color: theme.$surface-hover;
    color: theme.$text-secondary;
  }

  &:focus {
    outline: none;
    background-color: theme.$primary-light;
    color: theme.$primary;
  }

  &:active:not(:disabled) {
    background-color: theme.$primary-light;
    color: theme.$primary;
  }

  &:disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }
}

.eyeIcon {
  width: 16px;
  height: 16px;
  @include theme.smooth-transition;
}

@media (max-width: 480px) {
  .toggleButton {
    inset-inline-end: 6px;
    padding: 4px;
  }

  .passwordInput {
    padding-inline-end: 36px;
  }
}