@use '../../../../styles' as theme;

.container {
  @include theme.flex-column-center;
  gap: 1.5rem;
}

.imageContainer {
  @include theme.flex-center;
}

.image {
  width: 168px;
  height: 168px;
  @include theme.rounded-circle;
  object-fit: cover;
}

.buttonGroup {
  @include theme.button-group;
}