@use '@/styles' as theme;

.container {
  display: flex;
  align-items: center;
  gap: theme.$spacing-3;
}

.label {
  font-size: 0.875rem;
  color: var(--color-text-muted);
  font-weight: 500;
  white-space: nowrap;
  text-align: start;
}

.switch {
  flex-shrink: 0;
}

.iconContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

[dir='rtl'] .container {
  flex-direction: row-reverse;
}
