@use '@/styles' as theme;

.footerGrid {
  display: grid;
  grid-template-columns: 1fr;
  gap: theme.$spacing-6;
  padding: theme.$spacing-20 theme.$spacing-4;

  @media (min-width: theme.$breakpoint-sm) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (min-width: theme.$breakpoint-md) {
    grid-template-columns: 1fr auto;
    gap: theme.$spacing-20;
    justify-content: space-between;
    max-width: 64rem;
    margin-inline: auto;
  }
}

// Brand column
.brandColumn {
  margin-bottom: theme.$spacing-6;

  @media (min-width: theme.$breakpoint-sm) {
    grid-column: auto;
  }

  @media (min-width: theme.$breakpoint-md) {
    // grid-column: auto;
    max-width: 400px;
    margin-bottom: 0;
  }
}

.logo {
  display: flex;
  align-items: center;
  gap: theme.$spacing-2;
}

.logoIcon {
  width: 32px;
  height: 32px;
  object-fit: contain;
}

.logoText {
  font-weight: theme.$font-weight-semibold;
  font-size: theme.$font-size-md;
  color: var(--color-text-primary);
}

.description {
  margin-top: theme.$spacing-4;
  max-width: 32rem;
  text-align: start;
  color: var(--color-text-secondary);
  font-size: theme.$font-size-sm;
  line-height: theme.$line-height-relaxed;
}

.ctaButton {
  margin-top: theme.$spacing-4;
  margin-bottom: theme.$spacing-8;

  @media (min-width: theme.$breakpoint-lg) {
    margin-bottom: 0;
  }
}

// Links columns
.linksColumn {
  display: flex;
  flex-direction: column;
  gap: theme.$spacing-4;

  @media (min-width: theme.$breakpoint-md) {
    text-align: right;
    align-items: flex-end;
  }
}

.linksList {
  display: flex;
  flex-direction: column;
  gap: theme.$spacing-3;
}

.columnTitle {
  font-size: theme.$font-size-sm;
  font-weight: theme.$font-weight-medium;
  color: var(--color-text-tertiary);
  margin: 0;
}

.link {
  display: inline-flex;
  align-items: center;
  gap: theme.$spacing-1;
  margin-block: theme.$spacing-2;
  font-size: theme.$font-size-sm;
  font-weight: theme.$font-weight-medium;
  color: var(--color-text-secondary);
  text-decoration: none;
  transition: color theme.$transition-normal;

  &:hover {
    color: var(--color-text-primary);
  }
}



// Bottom bar
.bottomBar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: theme.$spacing-4;
  padding: theme.$spacing-8 theme.$spacing-4;
  margin-block: theme.$spacing-4;

  @media (min-width: theme.$breakpoint-md) {
    flex-direction: row;
  }
}

.copyright {
  font-size: theme.$font-size-sm;
  color: var(--color-text-tertiary);
  margin: 0;
}

.socialLinks {
  display: flex;
  align-items: center;
  gap: theme.$spacing-4;
}

.socialLink {
  color: var(--color-text-tertiary);
  transition: color theme.$transition-normal;

  &:hover {
    color: var(--color-text-primary);
  }
}

.socialIcon {
  width: 20px;
  height: 20px;
}
