/* File: frontend/src/pages/BoardDetailsPage.module.css */
.container {
    width: 100%;
    max-width: 800px;
    text-align: left;
}

.membersListContainer {
    list-style: none;
    padding: 0;
    margin-top: 1rem;
}
