/* File: frontend/src/pages/BoardPage.module.css */

.page {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    align-items: center;
    position: relative;
}

.header {
    text-align: left;
    align-self: flex-start;
    width: 100%;
    font-size: 1.75rem;
    line-height: 1.2;
    margin-bottom: 0.5rem;
    margin-top: 0;
}

.mainContent {
    display: flex;
    flex: 1;
    gap: 1rem;
    margin-top: 0;
    width: 100%;
    overflow: hidden;
}

.canvasContainer {
    position: relative;
    flex: 3;
}

.chatContainer {
    flex: 1;
    min-width: 300px;
}