@use '@/styles' as theme;

.pageContent {
    position: absolute;
    top: calc(var(--banner-height, 0px) + var(--toolbar-height, 72px) + 12px);
    left: 0;
    right: 0;
    bottom: 0;
    @include theme.flex-column;
    width: 100%;
    overflow: hidden;
    box-sizing: border-box;
}


.boardWorkspaceArea {
    flex: 1;
    height: 0;
    overflow: hidden;
    width: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}