/* File: frontend/src/pages/BoardPage.module.css */
.page {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    align-items: center;
}

.header {
    text-align: left;
    align-self: flex-start;
    width: 100%;
}

.mainContent {
    display: flex;
    flex: 1;
    gap: 1rem;
    margin-top: 1rem;
    width: 100%;
    overflow: hidden;
}

.canvasContainer {
    position: relative;
    flex: 3;
}

.chatContainer {
    flex: 1;
    min-width: 300px;
}