@use '@/styles' as theme;

.menu {
    position: absolute;
    z-index: theme.$z-index-popover;
    @include theme.card-base;
    @include theme.shadow-heavy;
    padding: theme.$spacing-1-5;
    min-width: 180px;
}

.item {
    padding: theme.$spacing-2 theme.$spacing-3;
    @include theme.rounded-small;
    cursor: pointer;
    user-select: none;
    transition: background-color theme.$transition-instant ease-in-out;
    color: theme.$text-primary;

    &:hover {
        background-color: theme.$primary;
        color: theme.$text-primary;
    }

    &.destructive {
        color: theme.$error;

        &:hover {
            background-color: theme.$error;
            color: theme.$text-primary;
        }
    }
}

