@use '@/styles' as theme;

.loadingOverlay {
    @include theme.fixed-overlay;
    background-color: theme.$background-darker;
    @include theme.flex-center;
}

.loadingContent {
    @include theme.flex-column-center;
    gap: 16px;
}

.spinner {
    width: 40px;
    height: 40px;
    @include theme.spinner-base;
    border: 3px solid theme.$border-primary;
    border-top: 3px solid theme.$primary;
}

.loadingText {
    color: theme.$text-secondary;
    font-size: 14px;
    margin: 0;
    font-weight: 500;
}

@keyframes spin {
    0% { 
        transform: rotate(0deg); 
    }
    100% { 
        transform: rotate(360deg); 
    }
}