@use '../../../../styles' as theme;

.header {
    position: sticky;
    top: 0;
    background: var(--primary-color);
    z-index: 100;
    padding: 1rem 2rem;
    @include theme.shadow-light;
}

.headerTitle {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.headerLink {
    text-decoration: none;
    color: inherit;
}

.headerLink h1 {
    margin: 0;
    color: theme.$text-primary;
    font-size: 1.5rem;
}

.headerLink:hover h1 {
    opacity: 0.8;
}