@use '@/styles' as theme;

.form {
    @include theme.flex-start;
    padding: 1rem;
    border-top: 1px solid theme.$border-primary;
    background-color: theme.$background-secondary;
    gap: 10px;
}

.inputContainer {
    flex: 1;
    position: relative;
}

.inputDisabled {
    opacity: 0.7;
    cursor: not-allowed;
}

.buttonSending {
    opacity: 0.8;
    cursor: wait;
}